@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #fff;
  width: 100%;
  height: auto;
}
.blog-container {
  display: flex;
  justify-content: space-between;
}

.article-title {
  cursor: pointer;
  color: #42288c;
  width: auto;
  word-wrap: break-word;
}

.article-date {
  font-weight: bold;
}

.single-article-pic {
  width: 100%;
  padding: 0;
}

.single-article-pic img {
  width: 100%;
  object-fit: contain;
  border: 6px solid var(--primary-color);
  border-radius: 20px;
}

.article-pic img {
  object-fit: cover;
  height: 13rem;
}

.article-pic img {
  object-fit: cover;
  height: 13rem;
}
.single-article-title {
  font-family: "Poppins";
}
.single-article-desc {
  width: 100%;
  height: 20rem;
  overflow-y: scroll;
  padding: 10px 10px 0px 10px;
  font-family: "Poppin";
  box-shadow: var(--primary-color) 0px 0px 8px 0px;
  border-radius: 20px;
  scroll-behavior: smooth;
  border: 15px solid transparent;
}

.special-desc {
  width: 100%;
  font-family: "Poppins";
}
.single-article-date {
  font-size: 0.8rem;
  color: var(--primarytextt-color);
}
.single-article-title {
  font-size: 1.7rem;
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 700;
  color: var(--seconadry-color);
}

.single-article {
  width: 100%;
}
.single-article .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.single-article-reactions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conts {
  width: 100%;
}
.single-article-reactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.single-article-comment {
  display: flex;
  height: fit-content;
}
.single-article-likes {
  display: flex;
  height: fit-content;
}
.single-article-reactions i {
  font-size: 2rem;
  color: var(--seconadry-color);
}

#title {
  color: var(--seconadry-color);
  margin: 0.5em 16px 0 16px;
  float: left;
  clear: none;
}

.blog-desc {
  margin-top: 2rem;
  font-family: "Poppin";
}

.post {
  width: 58%;
  display: flex;
  flex-direction: column;
}
.post .div {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--back-color);
  border-radius: 0.75rem;
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #7a3fdf97;
  border-radius: 3px;
}

.avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.discussion {
  background-color: var(-);
  border-radius: 0.5rem;
  margin: 6.2rem 0px;
  width: 100%;
  min-width: 17.5rem;
  max-width: 25rem;
  background-color: #80808025;
  height: fit-content;
}

.discussion__header {
  background-color: #80808025;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
}

.discussion__header textarea {
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  height: 3rem;
  transition: height 0.3s ease-in-out;
  resize: none;
  width: 100%;
}

.discussion__header textarea:focus {
  outline: none;
  height: 5rem;
  border: 1px solid var(--primary-color);
}

.comment {
  display: flex;    
  padding: 1rem;
  min-height: 6rem;
  gap: 0.25rem;
  width: 100%;
  border-bottom: 1px solid var(--primarytextt-color);
  border-radius: .5rem; 
}
.comment__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment__text p{
    margin-bottom: 0;
}
.newcomment__toolbar {
  justify-content: end;
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
}

.newcomment__toolbar button {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--secondText-color);
  min-width: 5rem;
}

.comment__text {
  font-size: 0.75rem;
  max-width: 75%;
}

.comment__author {
  font-size: 0.8rem;
}

.comment__date {
  font-size: 0.75rem;
  margin-left: 0.25rem;
  color: var(--primarytextt-color);
}
